<launch>
 <!-- Point the head -->
 <node pkg="rostopic" type="rostopic" name="point_head"
       args="pub /head_traj_controller/point_head_action/goal pr2_controllers_msgs/PointHeadActionGoal '{ goal: { pointing_frame: high_def_frame, pointing_axis: { x : 1, y : 0, z : 0 }, target: { point: { x : 1, y : 0, z : 0 }, header : { frame_id : base_link } } } }' -1" output="screen" />

  <node pkg="rostopic" type="rostopic" name="move_left_arm" args="pub l_arm_controller/joint_trajectory_action/goal pr2_controllers_msgs/JointTrajectoryActionGoal '{goal:{trajectory:{joint_names: [l_shoulder_pan_joint, l_shoulder_lift_joint, l_upper_arm_roll_joint, l_elbow_flex_joint, l_forearm_roll_joint, l_wrist_flex_joint, l_wrist_roll_joint], points: [{positions: [2.0, 0.0, 0.0, -2.05, 0.0, -0.1, 0.0], velocities: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], accelerations: [] }]}}}' -1" output="screen" />

<node pkg="rostopic" type="rostopic" name="move_right_arm" args="pub r_arm_controller/joint_trajectory_action/goal pr2_controllers_msgs/JointTrajectoryActionGoal '{goal:{trajectory:{joint_names: [r_shoulder_pan_joint, r_shoulder_lift_joint, r_upper_arm_roll_joint, r_elbow_flex_joint, r_forearm_roll_joint, r_wrist_flex_joint, r_wrist_roll_joint], points: [{positions: [-2.0, 0.0, 0.0, -2.05, 0.0, -0.1, 0.0], velocities: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], accelerations: [] }]}}}' -1" output="screen" />
</launch>
