<launch>
  <node pkg="position_tracker" type="multi_object_detector" name="multi_object_detector" output="screen">
    <param name="object_name" value="balls" />
</node>
<!--  <node pkg="position_tracker" type="dynamic_object_detector" name="dynamic_object_detector">
    <param name="object_name" value="balls" />
  </node> -->
</launch>
